# Core
streamlit==1.38.0
pandas==2.2.3
numpy==1.26.4
scikit-learn==1.5.2
plotly==5.24.1

# Arquivos
openpyxl==3.1.5
xlrd==2.0.1

# UCI
ucimlrepo==0.0.7

# Boosting externo
xgboost==2.1.1
lightgbm==4.5.0
catboost==1.2.7

# Clustering extra
hdbscan==0.8.40

# SOM (Mapa de Kohonen)
minisom==2.3.1